<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLDAEntities" connectionString="metadata=res://*/QLDAModel.csdl|res://*/QLDAModel.ssdl|res://*/QLDAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=QLDA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>